# go noise
*.6
*.8
*.o
*.so
*.out
*.go~
*.cgo?.*
_cgo_*
_obj
_test
_testmain.go
*.test

# Vim noise
*.swp

# Just noise
*~
*.orig

opus/build

# Ignore the entire build directory and its contents
/wasm-bridge/build/

# Except for this specific file within the build directory
!/wasm-bridge/build/wasm_bridge